body {
    background-color: lightgray;
    margin: 0;
}

.white-keys kbd {
    text-align: center;
    display: inline-block;
    background-color: white;
    border: 1px solid darkgray;
    width: 60px;
    height: 180px;
    line-height: 250px;
    margin: -3px;
}

.black-keys kbd {
    /*     position: absolute; */
    position: relative;
    top: -200px;
    color: white;
    text-align: center;
    display: inline-block;
    background-color: black;
    border: 1px solid darkgray;
    width: 40px;
    height: 80px;
    line-height: 120px;
    margin: 21px;
}

.container {
    width: max-content;
    margin: 10% auto;
}
