* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    max-height: 100vh;
    overflow: hidden;

}

.space {
    background-image: url("images/space.png");
    height: 100vh;
    max-width: 70vw;
    margin: auto;
}

.planet {
    max-width: 30vw;
    max-height: 50vh;
    position: absolute;
    bottom: -8vh;
}

.rocket {
    position: absolute;
    max-width: 10vw;
    bottom: 15vh;
    left: 28vw;
    rotate: 30deg;
}