ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

.delete-btn {
    border-width: 0;
    height: 20px;
    width: 20px;
}

img {
    height: 20px;
    width: 20px;
}

input[type=checkbox] + span {
}

input[type=checkbox]:checked + span {
    text-decoration: line-through;
}